@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.red {
  color: #c51605;
}

/* header nav */

.header {
  width: 100%;
  background-color: #fff;
  line-height: 1.4em;
}

.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em;
}

.menu {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  width: 15%;
  font-weight: bold;
}

.logo {
  color: #272829;
}

.menu a {
  color: #272829;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.menu:first-child {
  display: inline-flex;
  justify-content: left;
  width: 80%;
  margin-left: 0;
  margin-right: auto;
}

.links {
  display: inline-block;
  position: relative;
  color: #c51605;
}

.links:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c51605;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.mobile-menu {
  position: absolute;
  right: 1.2em;
  top: 1.5em;
  width: 1.5em;
}

.menu-icon {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: inline-flex;
}

.container {
  display: flex;
}

/* home */
.home {
  flex-direction: row;
  padding: 2em;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 7em;
}

.home-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 1em;
}

.home-text h1 {
  font-size: 30px;
}

.home-text p {
  font-size: 17px;
}

.btn-home {
  background-color: #fff;
  border: 2px solid #c51605;
  color: #272829;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.btn-home:hover {
  background-color: #c51605;
  color: #fff;
}

.img-home img {
  justify-content: flex-end;
  width: 50%;
}

.img-home img {
  width: 350px;
  height: 100%;
  border-radius: 20px;
}

/* course */
.course {
  padding: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3em;
}

.sect-card {
  flex-direction: row;
  gap: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.border-red {
  border: 4px solid #c51605;
  border-radius: 10px;
}

.card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card .description {
  padding: 0.5em;
}

.card .description p {
  margin-top: 10px;
  width: 280px;
}

/* sign now */
.sign-now {
  padding: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.sign-now p {
  text-align: center;
}

.btn-pesan {
  background-color: #fff;
  border: 2px solid #c51605;
  color: #272829;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  width: 160px;
  height: 50px;
  cursor: pointer;
}

.btn-pesan:hover {
  background-color: #c51605;
  color: #fff;
}

/* navbar */
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .menu a {
    margin-bottom: 10px;
  }
  .flex {
    flex-direction: row;
  }
  .menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .img-home {
    display: none;
  }
  .home {
    justify-content: flex-start;
    flex-direction: column;
  }
  .home-text {
    width: 100%;
  }
  .home-text p {
    width: 100%;
    text-align: left;
  }
  .sect-card {
    flex-direction: column;
  }
}
